.loader{

    position:fixed;

    inset:0;

    background:#08111F;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.loader-logo{

    font-size:72px;

    font-family:'Playfair Display',serif;

    color:#D4AF37;

    letter-spacing:6px;

}

.loader-subtitle{

    margin-top:10px;

    letter-spacing:5px;

    color:white;

    opacity:.85;

    text-transform:uppercase;

}

.loader-line{

    width:260px;

    height:5px;

    background:rgba(255,255,255,.12);

    border-radius:50px;

    overflow:hidden;

    margin:45px 0 20px;

}

.loader-progress{

    width:100%;

    height:100%;

    background:#D4AF37;

    animation:loading 2s ease infinite;

}

.loader-text{

    color:#9CA3AF;

    letter-spacing:2px;

}

@keyframes loading{

0%{

transform:translateX(-100%);

}

100%{

transform:translateX(100%);

}

}