.section-title{

    max-width:750px;

    margin:0 auto 70px;

    text-align:center;

}

.section-subtitle{

    display:inline-block;

    color:#D4AF37;

    font-size:14px;

    font-weight:700;

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:18px;

}

.section-heading{

    font-size:52px;

    color:#ffffff;

    font-family:"Playfair Display",serif;

    margin-bottom:20px;

    line-height:1.2;

}

.section-description{

    color:#C9CED8;

    font-size:18px;

    line-height:1.8;

}

@media(max-width:768px){

.section-heading{

    font-size:38px;

}

.section-description{

    font-size:16px;

}

}